{
  'plugins': [
    '@babel',
    'promise',
    'jsdoc'
  ],
  'extends': [
     'eslint:recommended',
     'plugin:promise/recommended'
  ],
  'env': {
    'browser': true,
    'amd': true
  },
  'globals': {
    'M': true,
    'Y': true
  },
  // Warn about unused eslint-disable and eslint-disable-line comments
  'reportUnusedDisableDirectives': true,
  'rules': {
    'no-prototype-builtins': 'off',
    'no-redeclare': 'warn',
    'no-useless-escape': 'warn',

    // === Promises (override recommended) ===
    'promise/always-return': 'warn',
    'promise/no-return-wrap': 'warn',
    'promise/param-names': 'warn',
    'promise/catch-or-return': ['warn', {terminationMethod: ['catch', 'fail']}],
    'promise/no-native': 'warn',
    'promise/avoid-new': 'warn',

    // === Deprecations ===
    "no-restricted-properties": ['warn', {
        'object': 'M',
        'property': 'str',
        'message': 'Use "core/str" module or M.util.get_string()'
    }],
  },
  overrides: [
    {
      files: ["**/yui/src/**/*.js"],
      // Disable some rules which we can't safely define for YUI rollups.
      rules: {
        'no-undef': 'off',
        'no-unused-vars': 'off',
        'no-unused-expressions': 'off',

        // === JSDocs ===
        "jsdoc/check-access": 'off',
        "jsdoc/check-alignment": 'off',
        "jsdoc/check-param-names": 'off',
        "jsdoc/check-property-names": 'off',
        "jsdoc/empty-tags": 'off',
        "jsdoc/implements-on-classes": 'off',
        "jsdoc/multiline-blocks": 'off',
        "jsdoc/require-jsdoc": 'off',
        "jsdoc/require-param": 'off',
        "jsdoc/require-param-name": 'off',
        "jsdoc/require-param-type": 'off',
        "jsdoc/require-property": 'off',
        "jsdoc/require-property-name": 'off',
        "jsdoc/require-property-type": 'off',
      }
    },
    {
      files: ["**/amd/src/*.js", "**/amd/src/**/*.js", "Gruntfile.js", ".grunt/*.js", ".grunt/tasks/*.js", "jsdoc.conf.js"],
      // We support es6 now. Woot!
      env: {
        es6: true
      },
      parser: '@babel/eslint-parser',
      // Check AMD with some slightly stricter rules.
      rules: {
        'no-unused-vars': 'error',
        'no-implicit-globals': 'error',
        // Disable all of the rules that have babel versions.
        'new-cap': 'off',
        // Not using this rule for the time being because it isn't
        // compatible with jQuery and ES6.
        'no-invalid-this': 'off',
        'object-curly-spacing': 'off',
        'quotes': 'off',
        'semi': 'off',
        'no-unused-expressions': 'off',
        // Enable all of the babel version of these rules.
        '@babel/new-cap': ['warn', { 'properties': false }],
        // Not using this rule for the time being because it isn't
        // compatible with jQuery and ES6.
        '@babel/no-invalid-this': 'off',
        '@babel/object-curly-spacing': 'warn',
        '@babel/semi': 'error',
        '@babel/no-unused-expressions': 'error',
        // === Promises ===
        // We have Promise now that we're using ES6.
        'promise/no-native': 'off',
        'promise/avoid-new': 'off',

        // === JSDocs ===
        "jsdoc/check-access": [
          'error',
        ],
        "jsdoc/check-alignment": 1, // Recommended.
        "jsdoc/check-param-names": [
          'error',
        ],
        "jsdoc/check-property-names": [
          'error',
        ],
        "jsdoc/empty-tags": [
          'error',
        ],
        "jsdoc/implements-on-classes": [
          'error',
        ],
        "jsdoc/multiline-blocks": [
          'error',
        ],
        "jsdoc/require-jsdoc": [
          'error',
        ],
        "jsdoc/require-param": [
          'error',
        ],
        "jsdoc/require-param-name": [
          'error',
        ],
        "jsdoc/require-param-type": [
          'error',
        ],
        "jsdoc/require-property": [
          'error',
        ],
        "jsdoc/require-property-name": [
          'error',
        ],
        "jsdoc/require-property-type": [
          'error',
        ],
      },
      parserOptions: {
        'ecmaVersion': 9,
        'sourceType': 'module',
        'requireConfigFile': false
      }
    }
  ]
}
